* {
  /* outline: 2px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.navbar ul {
  /* This will remove any bullet points */
  /* list-style-type: none;
  background-color: grey; */
}

.navbar a {
  /* color: whitesmoke;
  text-decoration: none;
  padding: 15px; */
  /* display: block; */
  /* text-align: center; */
}

.navbar li {
  /* display: inline-block; */
}

/*
using pseudo element like hover, we are selecting any 'a' on the navbar
then applying the 'hover' animation which has a darker color
*/

.navbar a:hover {
  /* background-color: rgb(58, 58, 58); */
}
