* {
  /* outline: 2px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid rgb(207, 89, 89);
}

h1 {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.grid-item-title {
}

.grid-item-nav {
}

.grid-item-img {
}

.grid-item-recipe {
}

.grid-item-footer {
}

.navbar ul {
  /* This will remove any bullet points */
  /* list-style-type: none;
  background-color: grey; */
}

.navbar a {
  /* color: whitesmoke;
  text-decoration: none;
  padding: 15px; */
  /* display: block; */
  /* text-align: center; */
}

.navbar li {
  /* display: inline-block; */
}

/*
using pseudo element like hover, we are selecting any 'a' on the navbar
then applying the 'hover' animation which has a darker color
*/

.navbar a:hover {
  /* background-color: rgb(58, 58, 58); */
}
